 <md-content class="md-padding" layout-xs="column" layout="column">
    <h1>Register Lift</h1>
    <md-input-container>
        <label>Type</label>
        <md-select ng-model="newLift.type">
            <md-option value="Two Post Lift">Two Post Lift</md-option>
            <md-option value="Four Post Lift">Four-Post Lift</md-option>
            <md-option value="Parking Lift">Parking Lift</md-option>
            <md-option value="Alignment Lift">Alignment Lift</md-option>
            <md-option value="Post Bridge Lift">4-Post Bridge Jack</md-option>
            <md-option value="Pit Lift">Pit Lift</md-option>
            <md-option value="Scissor Lift">Scissor Lift</md-option>
            <md-option value="Boat Lift">Boat Lift</md-option>
        </md-select>
    </md-input-container>


    <!-- EMAIL -->
    <md-input-container class="md-block">
        <label>Model</label>
        <input required md-no-asterisk name="model" ng-model="newLift.model">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Manufacturer</label>
        <input required md-no-asterisk name="manufacturer" ng-model="newLift.lift_manufacturer">
    </md-input-container>
    
    <md-input-container class="md-block">
        <label>Lift Capacity</label>
        <input required md-no-asterisk name="lift_capacity" ng-model="newLift.capacity">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Manufacturer Serial No.</label>
        <input required md-no-asterisk name="lift_capacity" ng-model="newLift.serial">
    </md-input-container>

    <md-button class="md-primary md-raised" ng-click="addlift()">Register</md-button>       
    <md-button class="md-warn md-raised" ng-href="#/dashboard/liftowner">Cancel</md-button>       

</md-content>