<md-content layout-align="center start" layout-xs="column" layout="row" ng-init="adminView()">
<h3>Admin Route</h3>

 <div flex-xs layout="row">
      <md-card md-theme-watch ng-repeat="user in allUsers">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{user.name}}</span>
            <span class="md-subhead">{{user.type}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Activate</md-button>
          <md-button class="md-warn">Delete</md-button>
        </md-card-actions>
      </md-card>
  </div>

</md-content>