<div layout-align="space-around center" layout="column" layout-fill>
    <md-content flex-gt-sm="30" flex="0">&nbsp;</md-content>

    <md-content class="md-padding" layout-xs="column" layout="column" flex-gt-sm="30" flex="100">
        <h1>Change Password</h1>
        <div ng-messages="loginErrors" role="alert">
          <div ng-message="general">Invalid email and password combination.</div>
        </div>

    	<md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required md-no-asterisk name="password" ng-model="userData.password">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" required md-no-asterisk name="password" ng-model="userData.confirmpassword">
        </md-input-container>

    	<md-button class="md-primary md-raised" ng-click="changePassword()">Change Password</md-button>
        <a href="#/register">Sign up</a>    
        <a href="#/">Login</a>	
    </md-content>
    <md-content flex-gt-sm="30" flex="0">&nbsp;</md-content>

</div>