<div ng-init="inspectorView()" layout-align="start center" layout="column" layout-fill>
	<h3>Inspector Dashboard</h3>
    <md-button class="md-fab md-primary" aria-label="New Inspection" ng-href="#/inspect">
      <md-icon class="material-icons">playlist_add</md-icon>
    </md-button>
    <md-button ng-click="saveSession()">Save data</md-button>
    <md-button ng-click="getSession()">Get data</md-button>
    {{ClientService}}
	<!-- Show inspections -->
	<md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column><span>Client</span></th>
          <th md-column md-string>Lift</th>
          <th md-column md-string>Date</th>
          <th md-column md-string>Pass/Fail</th>
          <th md-column md-string>Edit</th>
          <th md-column md-string>PDF</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="client in ClientService" data-ng-init="client.expanded = true">
          <td md-cell>{{client.Owner}}</td>
          <td md-cell>{{client.Company}}</td>
          <td md-cell>{{client.created_at | date : "MMM d, y"}}</td>
          <td md-cell>{{client.City}}, {{client.State}}</td>
          <td md-cell>
            <md-icon ng-click="editInspection(inspection)" class="material-icons">mode_edit</md-icon>
          </td>
          <td md-cell>
            <md-icon ng-click="createPDF(inspection)" class="material-icons">local_printshop</md-icon>
          </td>
        </tr>
    </table>
  </md-table-container>

</div>


