<!-- CUSTOMER -->
     <!-- Location Name --> <!-- TEXT FIELD -->
     <!-- Bay # --> <!-- TEXT FIELD -->
     <!-- Company Address --> <!-- TEXT FIELD -->
     <!-- Owner/Shop Manager Signature --> <!-- SIGNATURE FIELD -->
     <!-- Date --> <!-- DATE FUNCTION -->



<!-- LIFT -->
	<!-- Lift Model -->              <!-- TEXT FIELD -->
	<!-- Capacity -->                <!-- TEXT FIELD -->
	<!-- Lift Serial -->             <!-- TEXT FIELD -->
	<!-- Manufacturer -->            <!-- TEXT FIELD --> 
	<!-- Manufacturer Address -->    <!-- TEXT FIELD -->
	<!-- Certified Lift -->          <!-- TEXT FIELD -->
	<!-- Certification Serial # -->  <!-- TEXT FIELD -->
	
	<!-- Lift Drive -->	<!-- CHECK BOX --> <!-- Hydraulic, Hydraulic Driven Mechanically, Mechanical, Pneumatic -->
	
	<!-- Surface Lift -->
		<!-- 2-Post -->
		<!-- 4-Post -->
		<!-- n-Post -->
		<!-- Scissor -->
		<!-- Low/Mid-rise -->
		<!-- Parallelogram -->
		<!-- Wheels Free Device -->
		<!-- Mobile Column # of Units -->
	<!-- OR -->
	<!-- Inground Lift -->
		<!-- Identify Lift Configuration -->
		<!-- Identify Pressure Design -->


<!-- APPENDIX C -->
	


<!-- APPENDIX D -->

<!-- APPENDIX D - hydraulic -->

<!-- APPENDIX E -->

<!-- APPENDIX F -->

<!-- REVIEW -->
	<!-- Inspection # -->
	<!-- Lift Pass/Fail -->
	<!-- ALI Annual Lift Inspection Serial #--> 
	<!-- Date label applied --> <!-- DATE FUNCTION -->
	<!-- Inspector Initials -->
	
	<!-- GET THIS INFO FROM INSPECTOR PROFILE -->
	<!-- Inspector Company --> <!-- GET FROM INSPECTOR OBJECT -->
	<!-- Inspector Name --> <!-- GET FROM INSPECTOR OBJECT -->
	<!-- Company Address --> <!-- GET FROM INSPECTOR OBJECT -->
	<!-- ALI Inspector ID # --> <!-- GET FROM INSPECTOR OBJECT -->
	<!-- Inspector Signature --> <!-- SIGNATURE FIELD -->
	<!-- Date --> <!-- DATE FUNCTION -->